* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 1024px;
  min-height: 100vh;
}

p {
  font-size: 14px;
  color: rgba(115, 115, 115, 1);
  letter-spacing: 0.2px;
}

.container {
  width: 1050px;
  height: 732px;
  margin: 110px auto 182px auto;
  text-align: center;
  padding-top: 80px;
}

.container2 {
  width: 864px;
  height: 107px;
  margin: 0 auto;
}

.header1 {
  color: rgba(37, 43, 66, 1);
  font-size: 40px;
  letter-spacing: 0.2px;
}

.text1 {
  margin-top: 10px;
}

.container3 {
  width: 1046px;
  height: 385px;
  margin-top: 80px;
}

.container3-1 {
  background: rgba(217, 237, 255, 1);
  width: 328px;
  height: 385px;
  float: left;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}

.top3-1 {
  width: 340px;
  height: 132px;
  display: flex;
  float: left;
  padding-bottom: 60px;
}

.headpart3-1 {
  width: 340px;
  height: 132px;
  display: flex;
  float: left;
}

.icon1 {
  background-image: url(icon1.png);
  width: 72px;
  height: 72px;
  border-radius: 200px;
  margin: 30px 0px 0px 44px;
}

.headers3 {
  color: rgba(37, 43, 66, 1);
  font-size: 16px;
  letter-spacing: 0.1px;
  float: left;
  margin: 54px 0px 0px 15px;
}

.bottom3-1 {
  width: 328px;
  height: 253px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(169, 214, 255, 1);
  border-radius: 11px;
  padding: 30px 50px;
}

h6 {
  color: rgba(115, 115, 115, 1);
  font-size: 14px;
  letter-spacing: 0.2px;
  float: left;
  margin-bottom: 5px;
}

.sp1 {
  float: left;
}

.learnmore {
  float: left;
  color: rgba(255, 166, 43, 1);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.2px;
}

.container3-2 {
  background: rgba(217, 237, 255, 1);
  width: 328px;
  height: 385px;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  float: left;
}

.icon2 {
  background-image: url(icon2.png);
  width: 72px;
  height: 72px;
  border-radius: 200px;
  margin: 30px 0px 0px 33px;
}

.container3-3 {
  background: rgba(217, 237, 255, 1);
  width: 328px;
  height: 385px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  float: right;
}

.icon3 {
  background-image: url(icon3.png);
  width: 72px;
  height: 72px;
  border-radius: 200px;
  margin: 30px 0px 0px 49px;
}



